@font-face {
  font-family: "HeartBreakingBad";
  src: url("./Heart\ Breaking\ Bad.otf");
}

body {
  background: #000 url("./bg.jpg") no-repeat center center/cover;
  /* background-color: #0c1d03; */
  color: #fff;
  height: 90vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 10px 0 10px;
}

/* nav #logo {
  height: 100px;
} */

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.categories button {
  background-color: #34510f;
  color: #fff;
  font-size: 3rem;
  border: none;
  margin: 0 20px;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease;
  letter-spacing: 2px;
}

.categories button span {
  background-color: #016927;
  color: #fff;
  margin: 0 2px;
  padding: 0 10px;
  letter-spacing: 0;
  border: 1px solid #fff;
  font-weight: 600;
}

.categories button:hover {
  background-color: #fff;
  color: #016927;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "HeartBreakingBad";
}

.landing h1 {
  font-size: 4rem;
  font-weight: 100;
}

.landing h1::first-letter,
.landing h1 span {
  color: #00a03b;
  /* color: #016927; */
}

.landing #poster {
  /* height: 500px; */
  width: 60%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

.search {
  max-width: 650px;
  margin: 0 auto;
}

input {
  background-color: #34510f;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 2rem;
  height: 100%;
  outline: 0;
  width: 100%;
  padding: 10px 20px;
  margin-top: 50px;
  text-transform: capitalize;
}

#empty {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3rem;
}

.characters,
.episodes,
.quotes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 1100px;
  margin: auto;
  margin-top: 2rem;
}

.episodes,
.quotes {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  padding: 0 30px;
}

.episodes .episode:last-of-type,
.characters .card:last-of-type,
.quotes .quote:last-of-type {
  margin-bottom: 5rem;
}

.card,
.episode,
.quote {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
  font-family: Arial, Helvetica, sans-serif;
}

.episode,
.quote {
  cursor: auto;
  background-color: #34510f;
  text-align: center;
  height: fit-content;
  transition: all 1s ease;
}

.quote {
  height: 200px;
}

.episode:hover,
.quote:hover {
  color: #34510f;
  background-color: #fff;
}

.quote h1 {
  font-weight: 500;
  padding: 10px 20px;
}

.quote p {
  text-align: start;
  padding: 0 20px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin: 15px 15px 10px 15px;
  font-weight: 600;
}

.card h4,
.episode h1 {
  margin: 15px 5px;
  padding: 0 10px;
  font-weight: 400;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .cardInner {
  transform: rotateY(180deg);
}

.back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* favicon title */

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #016927;
  animation: spinner 0.6s linear infinite;
}

@media (max-width: 992px) {
  .quote {
    height: fit-content;
  }

  .landing #poster {
    width: 90%;
  }

  .categories button {
    font-size: 2.3rem;
  }
}

@media (max-width: 800px) {
  .categories button {
    font-size: 4vw;
  }

  .characters {
    grid-template-columns: repeat(2, 1fr);
  }

  .episodes,
  .quotes {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 650px) {
  nav {
    padding: 5px 10px 0 10px;
  }

  .categories {
    flex-direction: column;
  }

  .categories button {
    width: 60%;
    margin: 5px 0;
  }

  .landing h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .categories button {
    width: 80%;
    font-size: 6vw;
  }

  .landing h1 {
    font-size: 2.5rem;
  }

  .characters {
    grid-template-columns: 1fr;
  }

  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
